@font-face {
    src: url("/Fonts/Seven\ Segment.ttf");
    font-family: seven-eleven;
}
#main-screen{
    font-family: 'seven-eleven';
    font-size: 80px;
}
body{
    text-align: center;
    margin: auto;
}
.credit{
    text-align: center;
    line-height: 10px;
    padding-bottom: 80px;
}
.credit h1{
    color: rgb(0, 94, 156);
    font-size: 40px;
}
.credit p{
    font-weight: bold;
}
table{
    margin: auto;
}
input{
    height: 100px;
    width: 359px;
    margin: 0 auto;
    font-size: 60px;
    text-align: right;
    background-color: rgb(206, 206, 206);
}
.screen{
    padding-bottom: 40px;
    padding-top: 9px;
}
button{
    width: 90px;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
.long-button1 button{
    height: 60px;
    width: 184px;
    border-radius: 10px;
}
.long-button2 button{
    height: 124px;
    width: 90px;
    border-radius: 10px;
}
.container{
    background-color: rgb(14, 14, 14);
    display: inline-block;
    border-radius: 20px;
    padding: 22px;
}
.long-button2 button, .del button{
    background-color: rgb(255, 109, 56);
}
.sign button{
    background-color: rgb(52, 224, 118);
}
.extra{
    padding-top: 100px;
}

@media screen and (max-width: 576px) {
    .container{
        width: 359px;
        margin: 0 auto;
    }
    button{
        width: 100%;
    }
    input{
        width: 97%;
    }
}